:root {
    --confluence-inline-comment-width: 700px; /* not sure whether % or px should be used */
}

/* in view mode */
#com-atlassian-confluence #inline-comment-sidebar {
    width: var(--confluence-inline-comment-width) !important;
}

/* in edit mode */
#com-atlassian-confluence div[data-cy="editor-comments-sidebar"] {
    width: var(--confluence-inline-comment-width) !important;
}
